<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CssTelas.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/Casa">Casas</a>
        <a href="/Apartamento">Apartamento</a>
        <a href="/Kitnet">Kitnet</a>
        <a href="/Alugar">Alugar</a>
        <a href="/Sobre">Sobre Nós</a>
        <a href="/Login">Cadastra-se</a>
    </nav>

 
    <div class="confirmation-container">
        <h1>Aluguel Realizado com Sucesso!</h1>
        <div class="property-details">
            <img src="https://static.fandomspot.com/images/07/45014/09-franklin-mega-garage-mod-gta5.jpg" alt="Casa Alugada">
            <h2>Casa para Festas</h2>
            <p><strong>Localização:</strong> Perfeito Para Festas</p>
            <p><strong>Quartos:</strong> 7</p>
            <p><strong>Preço de Aluguel:</strong> Dia/R$ 100.000 | Semana/R$ 450.000</p>
        </div>
        

    </div>

</body>
</html>