<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CssTelas.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/">Início</a>
        <a href="/Casa">Casas</a>
        <a href="/Apartamento">Apartamento</a>
        <a href="/Kitnet">Kitnet</a>
        <a href="/Alugar">Alugar</a>
        <a href="/Sobre">Sobre Nós</a>
    </nav>
    <header>Pagina de Apartamentos Avenda/Alugar </header>
    <h1>Compra:</h1>
    <div class="property-grid">
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/8/8e/Apartments-GTAOe-HighEnd-DiningRoom.png/revision/latest/scale-to-width-down/1000?cb=20230214031321"
                alt="Casa">
            <h3>Apartamento à Venda</h3>
            <p>5 quartos - Bairro Residencial</p>
            <p><strong>R$ 571,000</strong></p>
            <button type="submit" onclick="showInfo('Compra')"><a href="/Comprar"> Comprar</button></a>
        </div>
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/d/de/Apartments-GTAOe-HighEndUpdated-LivingRoom1.png/revision/latest/scale-to-width-down/1000?cb=20230214031335"
                alt="Casa">
            <h3>Apartamento à Venda</h3>
            <p>7 quartos - Vista Para a Praia</p>
            <p><strong>R$ 1.000.000</strong></p>
            <button type="submit" onclick="showInfo('Compra')"><a href="/Comprar"> Comprar</button></a>
        </div>
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/8/8e/Apartments-GTAOe-HighEnd-DiningRoom.png/revision/latest/scale-to-width-down/1000?cb=20230214031321"
                alt="Casa">
            <h3>Apartamento à Venda</h3>
            <p>9 quartos - Garagem Com Capacidade <br> De até 10 Veiculos</p>
            <p><strong>R$ 2.500.000</strong></p>
            <button type="submit" onclick="showInfo('Compra')"><a href="/Comprar"> Comprar</button></a>
        </div>
    </div>

    </div>
    <h1>Alugar:</h1>
    <div class="property-grid">
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/d/db/Apartments-GTAOe-Custom-ModernInterior-LivingRoom2.png/revision/latest/scale-to-width-down/1000?cb=20230214031217"
                alt="Casa">
            <h3>Apartamento Para Alugar</h3>
            <p>7 Quartos - Perfeito Para Festas</p>
            <p><strong>Dia/R$ 100.000<br>Semana/R$ 450.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href="/Alugar"> Alugar</button></a>
        </div>
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/b/b5/Apartments-GTAOe-Custom-SeductiveInterior-LivingRoom1.png/revision/latest/scale-to-width-down/300?cb=20230214031257"
                alt="Casa">
            <h3>Apartamento Para Alugar</h3>
            <p>4 Quartos - Perfeito Para Passar O <br>Tempo Com A Familia</p>
            <p><strong>Dia/R$ 150.000 <br> Semena/R$ 550.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href="/Alugar"> Alugar</button></a>
        </div>
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/f/f3/Apartments-GTAOe-StiltHouse-Style2-DiningRoom.png/revision/latest/scale-to-width-down/1000?cb=20230214031416"
                alt="Casa">
            <h3>Apartamento Para Alugar</h3>
            <p>3 Quartos Todos com Jacuzzi e Closet</p>
            <p><strong>Dia/R$ 320.000 <br> Semena/R$ 800.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href="/Alugar"> Alugar</button></a>
        </div>

    </div>

</body>

</html>