<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CssTelas.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/">Início</a>
        <a href="/Casa">Casas</a>
        <a href="/Apartamento">Apartamento</a>
        <a href="/Kitnet">Kitnet</a>
        <a href="/Alugar">Alugar</a>
        <a href="/Sobre">Sobre Nós</a>
    </nav>


    <header>Pagina de Casas Avenda/Alugar </header>
    <h1>Compra:</h1>
    <div class="property-grid">
        <div class="property-card">
            <img src="https://www.gtabase.com/images/jch-optimize/ng/images_gta-5_properties_apartment_full_4401-procopio-drive.webp"
                alt="Casa">
            <h3>Casa à Venda</h3>
            <p>3 quartos - Bairro Residencial</p>
            <p><strong>R$ 750.000</strong></p>
            <button type="submit" onclick="showInfo('Comprar')"><a href="/Comprar"> Comprar</button></a>
        </div>
        <div class="property-card">
            <img src="https://img.gta5-mods.com/q75-w500-h333-cfill/images/millionaires-sea-house/797451-7.jpg"
                alt="Casa">
            <h3>Casa à Venda</h3>
            <p>9 quartos - Frente ao Rio <br>- Pier Particular</p>
            <p><strong>R$ 1.500.000</strong></p>
            <button type="submit" onclick="showInfo('Comprar')"><a href="/Comprar"> Comprar</button></a>
        </div>
        <div class="property-card">
            <img src="https://i.ytimg.com/vi/Lz9BtV_BVJY/sddefault.jpg?v=6484c8ac" alt="Casa">
            <h3>Casa à Venda</h3>
            <p>7 quartos - Cinema Particular <br> - Gerador de 20h Integrado </p>
            <p><strong>R$ 2.500.000</strong></p>
            <button type="submit" onclick="showInfo('Comprar')"><a href="/Comprar"> Comprar</button></a>
        </div>
    </div>

    </div>
    <h1>Alugar:</h1>
    <div class="property-grid">
        <div class="property-card">
            <img src="https://static.fandomspot.com/images/07/45014/09-franklin-mega-garage-mod-gta5.jpg" alt="Casa">
            <h3>Casa Para Alugar</h3>
            <p>7 Quartos - Perfeito Para Festas</p>
            <p><strong>Dia/R$ 100.000<br>Semana/R$ 450.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href="/Alugar"> Alugar</button></a>
        </div>
        <div class="property-card">
            <img src="https://i.ytimg.com/vi/RJKubVeD1VA/mqdefault.jpg" alt="Casa">
            <h3>Casa Para Alugar</h3>
            <p>12 Quartos - Para Festas Univesitarias<br>
                É a Melhor Opção</p>
            <p><strong>Dia/R$ 350.000 <br> Semena/R$ 950.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href="/Alugar"> Alugar</button></a>
        </div>
        <div class="property-card">
            <img src="https://i.ytimg.com/vi/8FqB23wvTdY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLC1tWLvM16al7yxmpq2zmgAjUaebg"
                alt="Casa">
            <h3>Casa Para Alugar</h3>
            <p>3 Quartos Todos com Jacuzzi e Closet - <br>Para Festas Mais Xiques</p>
            <p><strong>Dia/R$ 500.000 <br> Semena/R$ 1.500.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href="/Alugar"> Alugar</button></a>
        </div>

    </div>

</body>

</html>