<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link="stylesheet" href="CssTelas.css">
    <title>Document</title>
</head>
<body>
    <nav>

        <a href="/">Início</a>
        <a href="/Casa">Casas</a>
        <a href="/Apartamento">Apartamento</a>
        <a href="/Kitnet">Kitnet</a>
        <a href="/Alugar">Alugar</a>
        <a href="/Sobre">Sobre Nós</a>
        </nav>



        <div class="confirmation-container">
            <h1>Compra Realizada com Sucesso!</h1>
            <div class="property-details">
                <img src="https://www.gtabase.com/images/jch-optimize/ng/images_gta-5_properties_apartment_full_4401-procopio-drive.webp" alt="Casa Comprada">
                <h2>Casa à Venda</h2>
                <p><strong>Localização:</strong> Bairro Residencial</p>
                <p><strong>Quartos:</strong> 3</p>
                <p><strong>Preço:</strong> R$ 750.000</p>
            </div>
            

    
 
</body>
</html>