<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CssTelas.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/Edificio">Casas</a>
        <a href="/Apartamento">Apartamento</a>
        <a href="/Kitnet">Kitnet</a>
        <a href="/Alugar">Alugar</a>
        <a href="/Sobre">Sobre Nós</a>
    </nav>
    <header>Pagina de Kitnet Avenda/Alugar </header>
    <h1>Compra:</h1>
<div class="property-grid">
<div class="property-card">
<img src="https://static.wikia.nocookie.net/gtawiki/images/4/4e/0232PaletoBoulevard-GTAV.png/revision/latest/scale-to-width-down/1000?cb=20170520141629" alt="Casa">
<h3>Kitnet à Venda</h3>
<p>2 quartos - Bairro Residencial</p>
<p><strong>R$ 250,000</strong></p>
<button type="submit" onclick="showInfo('Compra')"><a href= "/Comprar"> Comprar</button></a>
</div>
<div class="property-card">
<img src="https://static.wikia.nocookie.net/gtawiki/images/4/48/4HangmanAvenue-GTAO-Exterior.jpg/revision/latest?cb=20140708151812" alt="Casa">
<h3>Kitnet à Venda</h3>
<p>3 quartos - Perto ao Centro</p>
<p><strong>R$ 400.000</strong></p>
<button type="submit" onclick="showInfo('Compra')"><a href= "/Comprar"> Comprar</button></a>
</div>
<div class="property-card">
<img src="https://static.wikia.nocookie.net/gtawiki/images/3/3e/4401ProcopioDrive-GTAV.png/revision/latest/scale-to-width-down/1000?cb=20180906094530" alt="Casa">
<h3>Kitnet à Venda</h3>
<p>4 quartos - Garagem Com Capacidade <br> De até 2 Veiculos</p>
<p><strong>R$ 560.000</strong></p>
<button type="submit" onclick="showInfo('Compra')"><a href= "/Comprar"> Comprar</button></a>
</div>
</div>

</div>
    <h1>Alugar:</h1>
    <div class="property-grid">
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/a/ad/2874HillcrestAvenue-AerialView-GTAO.png/revision/latest/scale-to-width-down/1000?cb=20160529160815" alt="Casa">
            <h3>Kitnet Para Alugar</h3>
            <p> 3 Quartos - Perfeito Para Lazer</p>
            <p><strong>Dia/R$ 100.000<br>Semana/R$ 450.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href= "/Alugar"> Alugar</button></a>
        </div>
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/5/5f/3655WildOatsDrive-AerialView-GTAO.png/revision/latest?cb=20160529161323" alt="Casa">
            <h3>Kitnet Para Alugar</h3>
            <p>4 Quartos - Perfeito Para Passar O <br>Tempo Com A Familia</p>
            <p><strong>Dia/R$ 150.000 <br> Semena/R$ 500.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href= "/Alugar"> Alugar</button></a>
        </div>
        <div class="property-card">
            <img src="https://static.wikia.nocookie.net/gtawiki/images/4/4e/0232PaletoBoulevard-GTAV.png/revision/latest/smart/width/386/height/259?cb=20170520141629" alt="Casa">
            <h3>Kitnet Para Alugar</h3>
            <p>3 Quartos- 1 Quarto com Jacuzzi e Closet</p>
            <p><strong>Dia/R$ 320.000 <br> Semena/R$ 600.000</strong></p>
            <button type="submit" onclick="showInfo('Alugar')"><a href= "/Alugar"> Alugar</button></a>
        </div>

    </div>

</body>
</html>