<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Listagem.css">
    <title>Trabalho</title>
</head>
<div class="navbar">
            <nav>

                <a href="/">Início</a>
                <a href="/Edificio">Casas</a>
                <a href="/Apartamento">Apartamento</a>
                <a href="/Kitnet">Kitnet</a>
                <a href="/Alugar">Alugar</a>
                <a href="/Sobre">Sobre Nós</a>
                </nav>
            </div>
        </div>
<div class="container">
    <div class="header">
        <h1>Listagem de Pedidos</h1>
    </div>
    <table class="report-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Movel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>.........</td>
                <td>..</td>
                <td>...</td>
                <td>...</td>
            </tr>

            <!-- Mais linhas podem ser adicionadas aqui -->
        </tbody>
    </table>
</div>


</body>
</html>